.article__block{
  padding: 56px 0 75px 96px;
}
.article__title{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  margin-bottom: 22px;
}

.article__text{
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: rgba(115, 115, 115, 0.74);
  margin: 0;
  padding: 0;
}

.article__list{
  margin: 72px 0 0 0;
  padding: 0;
  display: flex;
  gap: 21px;
}

.article__item{
  width: 219px;
  margin: 0;
  padding: 0;

  &:nth-child(1){
    &::before{
      content: '';
      display: inline-block;
      width: 80px;
      height: 46px;
      background-image: url(../images/comer.svg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 63px;
    }
  }


  &:nth-child(2){
    &::before{
      content: '';
      display: inline-block;
      width: 73px;
      height: 73px;
      background-image: url(../../images/kolen.svg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 32px;
    }
  }



  &:nth-child(3){
    &::before{
      content: '';
      display: inline-block;
      width: 80px;
      height: 80px;
      background-image: url(../../images/nas.svg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 21px;
    }
  }


  &:nth-child(4){
    &::before{
      content: '';
      display: inline-block;
      width: 80px;
      height: 60px;
      background-image: url(../../images/bulut.svg);
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 39px;
    }
  }


}

.article__item-title{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #313131;
  margin: 0;
  padding: 0;
}

.article__item-text{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.74);
  margin: 21px 0 7px 0;
  padding: 0;
}

.article__item-link{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #CF404D;
  transition: opacity 0.4s ease ;

  &:hover{
    opacity: 0.4;
  }
}