.hero{
  background-image: url(../images/IMAGE.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 305px 0 325px;
}

.hero__block-title{
  padding: 0 180px 0 200px;
}

.hero__titile{
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.hero__link-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
  padding-left: 14px;


}


.hero__link{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 11px 22px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;

}
.hero__link--activ{
  background-color: #CF404D;
  border: 2px solid #CF404D;
  border-radius: 4px;
}