.made__inner{
  padding: 24px 0 28px 96px;
}
.made__text{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.74);
}